<% provide(:title, "Home") %>
<div class="jumbotron">

<div class="text-center">    
    <h1>WebLibrary</h1>
    <p>This is the Home Page</p>
</div>

</div>
<!--
<nav class="col-sm-2 menu" >
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</nav>
-->